* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  display: grid;
  justify-content: center;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
  margin: 5px;
}

input[type=text] {
width: 75px;
}

.player-box {
  text-align: center;
  margin: 5px;
}

.player-name {
  font-weight: bold;
}

#gameboard {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  gap: 0px;
}

.cell {
  display: grid;
  align-items: center;
  border: 1px solid black;
  height: 100px;
}

.game-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
  justify-items: center;
}

.bottom-display {
  display: grid;
  grid-column: span 3;
  justify-items: center;
}

#start-btn {
  margin: 20px 0;
  width: 150px;
  display: grid;
  font-size: 1.5rem;
}

#player-display {
  font-size: 1.1rem;
  width: 300px;
  
}

#p1-turn {
  text-align: left;
  color: blue;
  display: none;
}

#p2-turn {  
  text-align: right;
  color: red;
  display: none;
}

#winner-display {
  display: none;
  font-size: 2rem;
  font-weight: bold;
}

