* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  display: grid;
  justify-content: center;
  text-align: center;
}

#gameboard {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  gap: 0px;
}

#start-btn {
  margin: 20px 0;
  width: 150px;
  display: grid;
  font-size: 1.5rem;
}

.cell {
  display: grid;
  align-items: center;
  border: 1px solid black;
  height: 100px;
}

.game-container {
  display: grid;
  justify-content: center;
  justify-items: center;
}

#player-display {
  font-size: 1.1rem;
}

#p1-turn {
  text-align: left;
  color: blue;
  visibility: hidden;
}

#p2-turn {
  text-align: right;
  color: red;
  visibility: hidden;
}